<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.csakitheone.ipariminimap">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- TODO: remove when updated library to support older sdk levels -->
    <uses-sdk tools:overrideLibrary="com.csakitheone.csakishelperlibrary"/>

    <application
        android:name=".IpariApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MercGameActivity"
            android:exported="false" />
        <activity
            android:name=".MercMainActivity"
            android:exported="false" />
        <activity
            android:name=".TasksActivity"
            android:exported="false" />
        <activity
            android:name=".BuildingManagerActivity"
            android:exported="false" />
        <activity
            android:name=".SearchActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".RewardAdActivity" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5995992409743558~7108648928" />

        <service
            android:name=".services.RingService"
            android:enabled="true"
            android:exported="false" />

        <activity android:name=".KreszActivity" />
        <activity
            android:name=".RoomActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:documentLaunchMode="intoExisting"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
    </application>

</manifest>